* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    
    background-color: #fff;
    color: #000;
}

header {
    background-color: #d9be8f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #886f43; 
    margin: 0 auto;
}

.logo {
    width: 50px;
    height: 50px;
}

.user-icon {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    vertical-align: middle;
}

.usuario {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: right;
  font-size: 0.9em;
  color: #4a4a4a;
}

.usuario strong {
    color: #0f0f0f;
}

.usuario img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #886f43;
  padding: 5px;
}


main {
    text-align: center;
    padding: 30px;
    
}

.back-arrow {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 24px;
    position: absolute;
    left: 30px;
}

h2 {
    margin-top: 20px;
    font-weight: bold;
}

hr {
    margin: 20px auto;
    width: 90%;
    border: 1px solid #000;
}

.extrato {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0 auto;
    width: 400px;
    background-color: #f0f0f0;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #cfcfcf;
}

footer {
    background-color: #d9be8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.whatsapp-icon {
    width: 28px;
    height: 28px;
}
