html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
}

main {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}


header {
  background-color: #e6cea3;
  color: #886f43;
  padding: 15px 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
  position: absolute;
  left: 20px;
  width: 50px;
  height: 50px;
}

.usuario {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: right;
  font-size: 0.9em;
  color: #4a4a4a;
  padding-right: 16px;
  margin-right: 16px;
}

.usuario strong {
  color: #0f0f0f;
}

.usuario img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #886f43;
  padding: 5px;
}

.container {
  max-width: 960px;
  width: 100%;
  padding: 20px;
}

hr {
  border: 1px solid #ddd;
  width: 80%;
  margin: 20px auto;

}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.container-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
  height: 100%;
}

.create-plan-button,
.outro-botao {
  background-color: #daa520;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2em;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  width: 90%;
  max-width: 500px;
  min-width: 250px;
  box-sizing: border-box;
}

.create-plan-button:hover {
  background-color: #b8860b;
}

.footer {
  background-color: #E6CEA3;
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 40px;
}

.container h1 {
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  background-color: #E6CEA3;
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: auto;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer-center {
  text-align: center;
  flex: 1;
}

.footer-center p {
  margin: 0;
  line-height: 1.5;
}