body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #e6cfa4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

header img.logo {
  height: 50px;
}

header h1 {
  font-size: 28px;
  color: #6c5430;
  font-weight: 700;
  margin: 0;
}

header .usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .usuario p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 0;
  line-height: 1.3;
}

header .usuario img {
  width: 30px;
  height: 30px;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-botoes button {
  width: 320px;
  padding: 15px;
  background-color: #d68c1d;
  color: white;
  font-weight: 700;
  border: 1.5px solid #6c5430;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.container-botoes button:hover {
  background-color: #b87414;
  transform: scale(1.03);
}


footer {
  background-color: #e6cfa4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 600;
}

footer .left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .right img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
